{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Sorry, you're not eligible
      </h1>

      <p>S*** happens.</p>
      <p>Try <a href="https://en.wikipedia.org/wiki/Fire_eating">fire eating</a> instead.</p>

    </div>
  </div>

{% endblock %}
